.button {
  width: 80px;
  height: 80px;
  margin: 3px;
  background-color: #bcc6cc;
  border: 2px solid black;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
